library.db schema: <br />

Entity Sets <br />

 - Person = {<span style="text-decoration:underline">libNumber</span>, firstName, LastName}
  
 - Personnel = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, ssn, salary}
  
 - PersonnelRecords = {<span style="text-decoration:underline">logID</span>, messageLog}    
 
 - Event = {<span style="text-decoration:underline">eventID</span>, datetime}

 - Audience = {<span style="text-decoration:underline">audienceID</span>, audienceName, audienceDescription}
 
 - SocialRoom = {<span style="text-decoration:underline">roomNumber</span>. roomCapacity}

 - BookClub = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, clubName}
 
 - ArtShow = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, name}

 - ItemRecords = {<span style="text-decoration:underline">itemID</span>, penaltyFee, dueDate, available}
        
 - Book = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, title, author, publisher}
    
 - CD = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, title, producer, director}
    
 - Magazine = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, name, publisher}
  
Relationships <br />

 - Borrow = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, <span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>}

 - Log = {<span style="text-decoration:underline">libNumber</span><sup>FK-Oersonnel</sup>, <span style="text-decoration:underline">logID</span><sup>FK-PersonnelRecords</sup>}
 
 - Organize = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, <span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>}
 
 - Recommend = {<span style="text-decoration:underline">audienceID</span><sup>FK-Audience</sup>, <span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>}
 
 - Held = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, <span style="text-decoration:underline">roomNumber</span><sup>FK-SocialRoom</sup>}
 
 - Attend = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, <span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>}
 
 - PartOf = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, <span style="text-decoration:underline">audienceID</span><sup>FK-Recommend</sup>}

Create library.db

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///library.db

'Connected: @library.db'

CREATE statements: (1 cellfor each table and/or trigger)

Entity sets

In [3]:
%%sql

CREATE TABLE IF NOT EXISTS Person (
    libNumber    INTEGER,
    firstName    CHAR(30),
    lastName      CHAR(30),
    PRIMARY KEY (libNumber),
        CHECK(libNumber >= 0)
);

 * sqlite:///library.db
Done.

[]

In [4]:
%%sql

CREATE TABLE IF NOT EXISTS Personnel (
    libNumber    INTEGER,
    salary       REAL,
    ssn          INTEGER,
    PRIMARY KEY (libNumber),
    FOREIGN KEY (libNumber) REFERENCES Person
);

 * sqlite:///library.db
Done.

[]

In [5]:
%%sql

CREATE TABLE IF NOT EXISTS PersonnelRecords (
    logID         INTEGER,
    messageLog    VARCHAR(50),
    PRIMARY KEY (logID)
);

 * sqlite:///library.db
Done.

[]

In [6]:
%%sql

CREATE TABLE IF NOT EXISTS Event (
    eventID     INTEGER,
    datetime    DATE,
    PRIMARY KEY (eventID),
        CHECK(eventID >= 0)
);

 * sqlite:///library.db
Done.

[]

In [7]:
%%sql

CREATE TABLE IF NOT EXISTS Audience (
    audienceID            INTEGER,
    audienceName          CHAR(30),
    audienceDescription   VARCHAR(50),
    PRIMARY KEY (audienceID)
        CHECK(audienceID >= 0)
);

 * sqlite:///library.db
Done.

[]

In [8]:
%%sql

CREATE TABLE IF NOT EXISTS SocialRoom (
    roomNumber      INTEGER,
    roomCapacity    INTEGER,
    PRIMARY KEY (roomNumber)
);

 * sqlite:///library.db
Done.

[]

In [9]:
%%sql

CREATE TABLE IF NOT EXISTS ItemRecords (
    itemID        INTEGER,
    penaltyFee    REAL,
    dueDate       DATE,
    available     BOOLEAN,
    PRIMARY KEY (itemID)
        CHECK(itemID >= 0)
);

 * sqlite:///library.db
Done.

[]

types of events

In [10]:
%%sql

CREATE TABLE IF NOT EXISTS BookClub (
    eventID     INTEGER,
    clubName    CHAR(30),
    PRIMARY KEY (eventID),
    FOREIGN KEY (eventID) REFERENCES Event
);

 * sqlite:///library.db
Done.

[]

In [11]:
%%sql

CREATE TABLE IF NOT EXISTS ArtShow (
    eventID    INTEGER,
    name       CHAR(30),
    PRIMARY KEY (eventID),
    FOREIGN KEY (eventID) REFERENCES Event
);

 * sqlite:///library.db
Done.

[]

types of items

In [12]:
%%sql

CREATE TABLE IF NOT EXISTS Book (
    itemID       INTEGER,
    title        CHAR(30),
    author       CHAR(30),
    publisher    CHAR(30),
    PRIMARY KEY (itemID),
    FOREIGN KEY (itemID) REFERENCES ItemRecords
);

 * sqlite:///library.db
Done.

[]

In [13]:
%%sql

CREATE TABLE IF NOT EXISTS CD (
    itemID      INTEGER,
    title       CHAR(30),
    producer    CHAR(30),
    director    CHAR(30),
    PRIMARY KEY (itemID),
    FOREIGN KEY (itemID) REFERENCES ItemRecords
);

 * sqlite:///library.db
Done.

[]

In [14]:
%%sql

CREATE TABLE IF NOT EXISTS Magazine (
    itemID       INTEGER,
    name         CHAR(30),
    publisher    CHAR(30) ,
    PRIMARY KEY (itemID),
    FOREIGN KEY (itemID) REFERENCES ItemRecords
);

 * sqlite:///library.db
Done.

[]

Relationships

In [15]:
%%sql

CREATE TABLE IF NOT EXISTS Borrow (
    libNumber    INTEGER,
    itemID       INTEGER,
    PRIMARY KEY (libNumber, itemID),
    FOREIGN KEY (libNumber) REFERENCES Person,
    FOREIGN KEY (itemID) REFERENCES ItemRecords
);

 * sqlite:///library.db
Done.

[]

In [16]:
%%sql

CREATE TABLE IF NOT EXISTS Log (
    libNumber    INTEGER,
    logID        INTEGER,
    PRIMARY KEY (libNumber, logID),
    FOREIGN KEY (libNumber) REFERENCES Personnel,
    FOREIGN KEY (logID) REFERENCES PersonnelRecords
);

 * sqlite:///library.db
Done.

[]

In [17]:
%%sql

CREATE TABLE IF NOT EXISTS Organize (
    eventID      INTEGER,
    libNumber    INTEGER,
    PRIMARY KEY (eventID, libNumber),
    FOREIGN KEY (libNumber) REFERENCES Person,
    FOREIGN KEY (eventID) REFERENCES Event
);

 * sqlite:///library.db
Done.

[]

In [18]:
%%sql

CREATE TABLE IF NOT EXISTS Recommend (
    audienceID    INTEGER,
    eventID       INTEGER,
    PRIMARY KEY (audienceID, eventID),
    FOREIGN KEY (audienceID) REFERENCES Audience,
    FOREIGN KEY (eventID) REFERENCES Event
);

 * sqlite:///library.db
Done.

[]

In [19]:
%%sql

CREATE TABLE IF NOT EXISTS Held (
    eventID       INTEGER,
    roomNumber    INTEGER,
    PRIMARY KEY (eventID, roomNumber),
    FOREIGN KEY (eventID) REFERENCES Event,
    FOREIGN KEY (roomNumber) REFERENCES SocialRoom
);

 * sqlite:///library.db
Done.

[]

In [20]:
%%sql

CREATE TABLE IF NOT EXISTS Attend (
    libNumber    INTEGER,
    eventID      INTEGER,
    PRIMARY KEY (libNumber, eventID),
    FOREIGN KEY (libNumber) REFERENCES Person,
    FOREIGN KEY (eventID) REFERENCES Event
);

 * sqlite:///library.db
Done.

[]

In [21]:
%%sql

CREATE TABLE IF NOT EXISTS PartOF (
    libNumber     INTEGER,
    audienceID    INTEGER,
    PRIMARY KEY (libNumber, audienceID),
    FOREIGN KEY (libNumber) REFERENCES Person,
    FOREIGN KEY (audienceID) REFERENCES Audience
);

 * sqlite:///library.db
Done.

[]

triggers

In [4]:
%%sql

CREATE TRIGGER borrowDelete
AFTER DELETE ON Borrow
FOR EACH ROW
BEGIN 
    UPDATE ItemRecords
    SET dueDate = null, available = True, penaltyFee = 0
    WHERE OLD.itemID = ItemRecords.itemID;
END

 * sqlite:///library.db
Done.
Done.

[]

In [4]:
%%sql

CREATE TRIGGER addBook
BEFORE INSERT ON Book
BEGIN
    INSERT INTO ItemRecords (itemID, penaltyFee, dueDate, available)
    VALUES (new.itemID, 0, null, True);
END;

 * sqlite:///library.db
Done.

[]

In [5]:
%%sql

CREATE TRIGGER addCD
BEFORE INSERT ON CD
BEGIN
    INSERT INTO ItemRecords (itemID, penaltyFee, dueDate, available)
    VALUES (new.itemID, 0, null, True);
END;

 * sqlite:///library.db
Done.

[]

In [6]:
%%sql

CREATE TRIGGER addMagazine
BEFORE INSERT ON Magazine
BEGIN
    INSERT INTO ItemRecords (itemID, penaltyFee, dueDate, available)
    VALUES (new.itemID, 0, null, True);
END;

 * sqlite:///library.db
Done.

[]

In [7]:
%%sql

CREATE TRIGGER addBookClub
BEFORE INSERT ON BookClub
BEGIN
    INSERT INTO Event (eventID, datetime)
    VALUES(new.evenID, null);
END;

 * sqlite:///library.db
Done.

[]

In [8]:
%%sql

CREATE TRIGGER artShow
BEFORE INSERT ON ArtShow
BEGIN
    INSERT INTO Event (eventID, datetime)
    VALUES(new.evenID, null);
END;

 * sqlite:///library.db
Done.

[]