library.db schema: <br />

Entity Sets <br />

 - Person = {<span style="text-decoration:underline">libNumber</span>, firstName, LastName}
  
 - Personnel = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, salary, salary}
  
 - PersonnelRecords = {<span style="text-decoration:underline">logID</span>, messageLog}    
 
 - Event = {<span style="text-decoration:underline">eventID</span>, datetime}

 - Audience = {<span style="text-decoration:underline">audienceID</span>, audienceName}
 
 - SocialRoom = {<span style="text-decoration:underline">roomNumber</span>. roomCapacity}

 - BookClub = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, clubName}
 
 - ArtShow = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, name}

 - ItemRecords = {<span style="text-decoration:underline">itemID</span>, penaltyFee, dueDate, available}
        
 - Book = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, title, author, publisher}
    
 - CD = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, title, producer, director}
    
 - Magazine = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, name, publisher}
  
Relationships <br />

 - Borrows = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, <span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>}

 - Log = {<span style="text-decoration:underline">employeeID</span><sup>FK-Oersonnel</sup>, <span style="text-decoration:underline">logID</span><sup>FK-PersonnelRecords</sup>}
 
 - Orgabnize = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, <span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>}
 
 - Recommend = {<span style="text-decoration:underline">type</span><sup>FK-Audience</sup>, <span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>}
 
 - Held = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, <span style="text-decoration:underline">roomNumber</span><sup>FK-SocialRoom</sup>}
 
 - Attend = {<span style="text-decoration:underline">ssn</span><sup>FK-Person</sup>, <span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>}
 
 - PartOf = {<span style="text-decoration:underline">ssn</span><sup>FK-Person</sup>, <span style="text-decoration:underline">type</span><sup>FK-Recommend</sup>}

INSERT statements: (1 cellfor each relation)

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///library.db

'Connected: @library.db'

In [3]:
%%sql

INSERT INTO Person (firstName, lastName, libNumber)
 VALUES
 ("Barbara","Vance",162012159642),
("Medge","Hart",168808036514),
("Eric","Gonzalez",169105028261),
("Yuri","Beasley",167907053073),
("Nomlanga","Dalton",169907129481),
("Quemby","Acevedo",162603189123),
("Troy","Gonzales",162807013426),
("Ruby","Pittman",169609033833),
("Elmo","Washington",160301029831),
("Libby","Matthews",168201180083);

 * sqlite:///library.db
10 rows affected.

[]

In [4]:
%%sql

INSERT INTO ItemRecords (dueDate, available, itemID, penaltyFee) VALUES 
("01-30-20",False,1600112090099,92),
("09-11-20",False,1624042939299,85),
("05-14-21",False,1698110325799,76),
("05-23-21",False,1699051881199,51),
("08-23-19",True,1611061342199,98),
("09-29-19",False,1688081360399,63),
("08-23-20",True,1629112590199,100),
("08-03-20",True,1635113073899,99),
("04-25-20",True,1652081306399,73),
("07-15-20",True,1642090316999,67);

 * sqlite:///library.db
10 rows affected.

[]

In [5]:
%%sql

INSERT INTO CD (title, producer, director, itemID) 
VALUES 
("Aliquam", "Aimee Phelps", "Walter Acevedo",1),
("enim. Mauris", "Lara Mooney", "Michael Little",2),
("diam.", "Scarlet Ryan", "Alice Taylor",3),
("tellus lorem eu", "Ivor Sharpe", "Oliver Camacho",4),
("tellus faucibus", "Ora Rivas", "Aurelia Mcdowell",5),
("nec mauris blandit", "Martina Schmidt", "Henry Henderson",6),
("Nulla interdum.", "Brandon Blackwell", "Colin Sykes",7),
("turpis.", "Shaine Madden", "Kirestin Martinez",8),
("risus. Duis", "Marcia Guzman", "Axel Garrison",9),
("litora", "Keefe Herman", "Faith Moran",10);

 * sqlite:///library.db
10 rows affected.

[]

In [3]:
%%sql

INSERT INTO Book (title, author, publisher, itemID)
VALUES 
("turpis. Aliquam","Bevis Singleton","erat",11),
("laoreet posuere,","Quentin Head","lorem, vehicula",12),
("pellentesque, tellus sem","Boris Levy","in,",13),
("dolor","Shellie Harrell","auctor",14),
("litora","Colton Valencia","posuere cubilia",15),
("magna.","Aurelia Odonnell","Suspendisse",16),
("Vivamus","Quin Neal","vel",17),
("Integer","Urielle Atkinson","Fusce",18),
("nulla","Jared York","purus,",19),
("leo, in","Rylee Blake","malesuada",20);

 * sqlite:///library.db
1 rows affected.

[]

In [7]:
%%sql

INSERT INTO Magazine (name, publisher, itemID)
VALUES 
("Mauris","sociis natoque",21),
("posuere at,","nisi. Cum",22),
("montes, nascetur ridiculus","Sed nunc",23),
("lobortis ultrices.","a",24),
("taciti sociosqu","diam. Proin",25),
("Vivamus molestie dapibus","Phasellus in",26),
("ac risus.","Nunc",27),
("orci quis lectus.","neque",28),
("adipiscing non, luctus","Ut",29),
("Mauris vel","per",30);

 * sqlite:///library.db
10 rows affected.

[]

In [8]:
%%sql

INSERT INTO Borrow (libNumber, itemID)
VALUES
(162012159642, 21),
(162012159642, 3),
(169105028261, 5),
(169609033833, 9),
(168201180083, 11),
(168201180083, 12),
(162603189123, 26),
(162807013426, 1),
(162807013426, 17),
(160301029831, 30);

 * sqlite:///library.db
10 rows affected.

[]

In [9]:
%%sql

INSERT INTO Personnel (libNumber, ssn, salary)
VALUES
(162603189123, 1669081305599, 3500),
(162807013426, 1601032514799, 4000),
(169609033833, 1618082562999, 2000),
(160301029831, 1688061507299, 4351),
(168201180083, 1674081611899, 10000),
(167907053073, 1603062503899, 2100),
(169907129888, 1677080554999, 3250),
(162603189999, 1668061725799, 2750),
(162807013333, 1679032099499, 5600),
(169609033111, 1662070978099, 5100);

 * sqlite:///library.db
10 rows affected.

[]

In [10]:
%%sql

INSERT INTO PersonnelRecords (logID, messageLog)
VALUES
(1, "closed 10 doors"),
(2, ""),
(3, "done nothing"),
(4, "helped 25 cursomers I am on fire"),
(5, "payed my peasants salary"),
(6, "sorted books"),
(7, "wiped the floor"),
(8, "locked the library"),
(9, "fixed PC"),
(10, "wiped shelves");

 * sqlite:///library.db
10 rows affected.

[]

In [11]:
%%sql

INSERT INTO Log (logID, libNumber)
VALUES
(1, 162603189123),
(2, 162807013426),
(3, 169609033833),
(4, 160301029831),
(5, 168201180083),
(6, 167907053073),
(7, 169907129888),
(8, 162603189999),
(9, 162807013333),
(10, 169609033111);

 * sqlite:///library.db
10 rows affected.

[]

In [12]:
%%sql

INSERT INTO BookClub (eventID, clubName)
VALUES
(1, "Sci-Fi"),
(2,  "Best boyz"),
(3,  "Canada"),
(4,  "Nothing"),
(5, "CMPT 354"),
(6, "SFU Students"),
(7,  "Biology-club"),
(8, "Conquerors"),
(9,  "Atheists"),
(10,  "History");

 * sqlite:///library.db
10 rows affected.

[]

In [13]:
%%sql

INSERT INTO ArtShow (eventID, name)
VALUES
(11, "Leonardo da Vinci show"),
(12,  "Claude Monet show"),
(13,  "michelangelo"),
(14,  "Repin"),
(15, "Picasso"),
(16, "Rembrant"),
(17,  "Shishkin"),
(18, "Vasnecov"),
(19,  "vincent van gogh"),
(20,  "Edgar Degas");

 * sqlite:///library.db
10 rows affected.

[]

In [14]:
%%sql

INSERT INTO SocialRoom (roomNumber, roomCapacity)
VALUES
(101, 50),
(102, 30),
(103, 20),
(104, 70),
(201, 400),
(301, 340),
(401, 400),
(501, 51),
(611, 145),
(541, 140);

 * sqlite:///library.db
10 rows affected.

[]

In [15]:
%%sql

INSERT INTO Held (roomNumber, eventID)
VALUES
(101, 11),
(102, 14),
(103, 19),
(104, 9),
(201, 4),
(301, 15),
(401, 18),
(501, 1),
(611, 5),
(541, 6);

 * sqlite:///library.db
10 rows affected.

[]

In [16]:
%%sql

INSERT INTO Attend (libNumber, eventID)
VALUES 
(169105028261, 11),
(167907053073, 19),
(169907129481, 20),
(162603189123, 14),
(162807013426, 9),
(169609033833, 15),
(160301029831, 17),
(168201180083, 1),
(169907129888, 4),
(162603189999, 6);

 * sqlite:///library.db
10 rows affected.

[]

In [17]:
%%sql

INSERT INTO AUDIENCE (audienceID, audienceName, audienceDescription)
VALUES
(1, "da best", "we are simply the best"),
(2, "da worst", "unfortunately worst"),
(3, "CMPT 354", "Better the da best"),
(4, "Markers of MP", "Better than anyone in here"),
(5, "Sci-Fi", "love sci-fi stuff"),
(6, "History", "love history related books"),
(7, "Biography", "love biography books"),
(8, "Fiction", "love Fiction books"),
(9, "Cooks", "cooking tutorial books"),
(10, "Children", "love books for children");

 * sqlite:///library.db
10 rows affected.

[]

In [18]:
%%sql

INSERT INTO PartOf (libNumber, audienceID)
VALUES
(169105028261, 1),
(167907053073, 1),
(169907129481, 4),
(162603189123, 4),
(162807013426, 5),
(169609033833, 6),
(160301029831, 7),
(168201180083, 3),
(169907129888, 10),
(162603189999, 8);

 * sqlite:///library.db
10 rows affected.

[]

In [19]:
%%sql

INSERT INTO Recommend (audienceID, eventID)
VALUES
(2, 1),
(4, 19),
(7, 10),
(5, 1),
(1, 1),
(6, 20),
(6, 11),
(3, 11),
(1, 11),
(1, 14);

 * sqlite:///library.db
10 rows affected.

[]