library.db schema: <br />

Entity Sets <br />

 - Person = {<span style="text-decoration:underline">libNumber</span>, firstName, LastName}
  
 - Personnel = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, ssn, salary}
  
 - PersonnelRecords = {<span style="text-decoration:underline">logID</span>, messageLog}    
 
 - Event = {<span style="text-decoration:underline">eventID</span>, datetime}

 - Audience = {<span style="text-decoration:underline">audienceID</span>, audienceName}
 
 - SocialRoom = {<span style="text-decoration:underline">roomNumber</span>. roomCapacity}

 - BookClub = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, clubName}
 
 - ArtShow = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, name}

 - ItemRecords = {<span style="text-decoration:underline">itemID</span>, penaltyFee, dueDate, available}
        
 - Book = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, title, author, publisher}
    
 - CD = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, title, producer, director}
    
 - Magazine = {<span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>, name, publisher}
  
Relationships <br />

 - Borrows = {<span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>, <span style="text-decoration:underline">itemID</span><sup>FK-ItemRecords</sup>}

 - Log = {<span style="text-decoration:underline">employeeID</span><sup>FK-Oersonnel</sup>, <span style="text-decoration:underline">logID</span><sup>FK-PersonnelRecords</sup>}
 
 - Orgabnize = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, <span style="text-decoration:underline">libNumber</span><sup>FK-Person</sup>}
 
 - Recommend = {<span style="text-decoration:underline">type</span><sup>FK-Audience</sup>, <span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>}
 
 - Held = {<span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>, <span style="text-decoration:underline">roomNumber</span><sup>FK-SocialRoom</sup>}
 
 - Attend = {<span style="text-decoration:underline">ssn</span><sup>FK-Person</sup>, <span style="text-decoration:underline">eventID</span><sup>FK-Event</sup>}
 
 - PartOf = {<span style="text-decoration:underline">ssn</span><sup>FK-Person</sup>, <span style="text-decoration:underline">type</span><sup>FK-Recommend</sup>}

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///library.db

'Connected: @library.db'

- Find an item in the library

In [4]:
%%sql

Select *
FROM ItemRecords
"add WHERE smth = smth if you want to find smth"

 * sqlite:///library.db
Done.

[(21, 0.0, None, 1),
 (1600112090099, 92.0, '01-30-20', 0),
 (1611061342199, 98.0, '08-23-19', 1),
 (1624042939299, 85.0, '09-11-20', 0),
 (1629112590199, 100.0, '08-23-20', 1),
 (1635113073899, 99.0, '08-03-20', 1),
 (1642090316999, 67.0, '07-15-20', 1),
 (1652081306399, 73.0, '04-25-20', 1),
 (1688081360399, 63.0, '09-29-19', 0),
 (1698110325799, 76.0, '05-14-21', 0),
 (1699051881199, 51.0, '05-23-21', 0)]

- Borrow an item from the library

In [14]:
%%sql


INSERT INTO Borrow (libNumber, itemID)
VALUES
(A,B);

" VARIABLE A = Select libNumber
FROM Person
WHERE libNumber = 162012159642"

" VARIABLE B = SELECT itemId
FROM ItemRecords
WHERE itemID = 1629112590199"

"also triggers should be set to change due date to +30 days from todays date"

 * sqlite:///library.db
(sqlite3.OperationalError) near "Select": syntax error
[SQL: INSERT INTO Borrow (libNumber, itemID)
VALUES
(Select libNumber
FROM Person
WHERE libNumber = 162012159642,
SELECT itemId
FROM ItemRecords
WHERE itemID = 1629112590199);]
(Background on this error at: http://sqlalche.me/e/e3q8)

- Return a borrowed item

In [ ]:
%%sql

DELETE 
FROM Borrow
WHERE itemID = 1629112590199

"VARIABLE A = SELECT itemId
"FROM ItemRecords
WHERE itemID = 1629112590199""
"check item ID from user and insert in here then use it in above sql statment"

- Donate an item to the library

In [ ]:
%%sql

INSERT INTO ItemRecords (dueDate, available, itemID, penaltyFee) 
VALUES 
(null, True, "give new ItemID", null)

- Find an event in the library

In [ ]:
%%sql 

SELECT *
FROM Event
Where eventId = Variable A

"Variable A is found by user input"

- Register for an event in the library

In [ ]:
%%sql

INSERT INTO Attend (libNumber, eventID)
VALUES (Variable A, Variable B)

"variable A = libnumber of someone who wants to register"
"variable B = event he/she is looking for"

- Volunteer for the library

In [ ]:
%%sql

INSERT INTO Personnel (libNumber, ssn, salary)
VALUES (Variable A, null, 0)
"Variable A = his persons, null coz we dont need ssn from volunteers, 0 because it is volunteering"

- Ask for help from a librarian

In [ ]:
%%sql

INSERT INTO PersonnelRecords ()